# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
AppBackend/obj/
node_modules
dist
dist-ssr
*.local
AppBackend.Tests/bin/
AppBackend.Tests/obj/
AppBackendTests/bin/
AppBackendTests/obj/
# Editor directories and files
git pull origin main --rebase
git push origin main



.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
